import(MASS,nnet,stats,parallel,AER,survival)
export(predicts, basepredict, basepredict.lm, basepredict.glm, basepredict.polr, basepredict.multinom, basepredict.tobit, dc, dc.lm, dc.glm, dc.polr, dc.multinom, dc.tobit)
S3method(basepredict, lm)
S3method(basepredict, glm)
S3method(basepredict, polr)
S3method(basepredict, multinom)
S3method(basepredict, tobit)
S3method(dc, lm)
S3method(dc, glm)
S3method(dc, polr)
S3method(dc, multinom)
S3method(dc, tobit)