import(MASS,nnet,stats,parallel,AER,survival,mlogit,survey)
importFrom(dfidx, dfidx)
importFrom(dfidx, idx)
importFrom(dfidx, idx_name)
importFrom(dfidx, fold_idx)
importFrom(dfidx, unfold_idx)
export(predicts, basepredict, basepredict.lm, basepredict.glm, basepredict.polr, basepredict.multinom, basepredict.tobit, basepredict.mlogit, dc, dc.lm, dc.glm, dc.polr, dc.multinom, dc.tobit, dc.mlogit)
S3method(basepredict, lm)
S3method(basepredict, glm)
S3method(basepredict, polr)
S3method(basepredict, multinom)
S3method(basepredict, tobit)
S3method(basepredict, mlogit)
S3method(dc, lm)
S3method(dc, glm)
S3method(dc, polr)
S3method(dc, multinom)
S3method(dc, tobit)
S3method(dc, mlogit)